{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dando estilo a tablas</title>

     <link rel="stylesheet" href="{% static 'css/tabla.css' %}"> 
</head>
<body> -->
    <h2>Lista de VIAJEROS HOY</h2>
	<div id="main-container">

		<table>
			<thead>
				<tr>
					<th>Hospedaje</th><th>Fecha</th><th>Apellido</th><th>Nombre</th><th>Direccion</th><th>Telefono</th>
				</tr>
            </thead>
            {% for via in list_res %}
            <tr>
                <td>{{ via.cabana }}</td>
                <td>{{ via.fecha_reserva }}</td>
                <td>{{ via.viajero.apellido }}</td>
                <td>{{ via.viajero.nombre }}</td>
                <td>{{ via.viajero.direccion }}</td>
                <td>{{ via.viajero.telefono }}</td>
                
                                
            </tr>
            {% endfor%}
            </table>
                                  
                        
    </div>
    
</body>
</html>  
 

<!-- <!doctype html>
<html>
<head>
    <title>Lista </title>
</head>
<body>
    <h2>Lista de VIAJEROS</h2>
<table>
    <tr>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
    </tr>
</table>

{% for via in list_via %}
 <h2> {{ via.apellido }} {{ via.nombre }}  {{ via.direccion}}  {{ via.telefono}}</h2> 

 <table>
 
    <tr>
        <td>{{ via.apellido }}</td>
        <td>{{ via.nombre }}</td>
        <td>{{ via.direccion }}</td>
        <td>{{ via.telefono }}</td>
    </tr>

</table>
{% endfor%}
</body>
</html> -->
 
<!-- <html>
<head>
<title>EJEMPLO 1</title>
</head>
<body>
<h2>Lista de VIAJEROS</h2>
<h2> Apellido                                Nombre            Direccion            Telefono</h2>
<h2> {{ apellido }} {{ nombre }}  {{ direccion}}  {{ telefono}}</h2> -->
<!-- {% for via in list_via %}
<h2> {{ via.apellido }} {{ via.nombre }}  {{ via.direccion}}  {{ via.telefono}}</h2>
{% endfor%} -->
<!-- </body>
</html> -->
